:root {
    --primeira: #6d2a15;
    --segunda: #a1a1a1;
    --terceira: #816344d2;
    --quarta: rgba(19, 18, 18, 0.884);
}

*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
body,
h1,h2,h3,h4,h5,h6,
p,
a,
form,
span,
label,
input,
button {
    font-family: 'Raleway', sans-serif;
}