.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formTitle {
    text-align: center;
    width: 30%;
    margin-top: -90px;
}
.formTitle h1 {
    color: #f7bd00;
    border-radius: 5px 5px;
    font-size: 50px;
    margin-top: -10px;
}

form {
    position: relative;
    margin-top: 64px;
    padding: 25px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#mensagem {
    position: absolute;
    top: -77px;
    width: 100%;
    padding: 3px;
    background-color: #ff0c0c42;
    color: #a50a0a;
    border-radius: 5px;
    text-align: center;
}

#mensagem.hidden {
    display: none;
}

.container_input {
    display: flex;
    margin: 8px 0;
    margin-right: auto;
}

.container_input label {
    width: 110px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terceira);
    color: rgb(255, 255, 255);
    box-shadow: inset 0 0 3px 0px #322d2d;
    padding: 0 10px;
    border-radius: 5px 0px 0px 5px;
}

.container_input input {
    height: 38px;
    padding: 0 8px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--segunda);
}

.container_input span {
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    background-color: var(--segunda);
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#textoParede {
    position: absolute;
    top: 6px;
}

#formButton {
    position: absolute;
    bottom: -8px;
    left: 24px;
    padding: 7px;
    border: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: inset 0 0 0px 2px #f7bd00;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#formButton:hover {
    background-color: rgba(65, 61, 61, 0.267);

}
img {
    width: 941px;
    margin-top: 229px;
    margin-left: 296px;
}
@media(max-width: 1272px){
    .formApp {
        width: 70%;
    }
}

@media(max-width: 1040px){
    .formApp {
        width: auto;
        flex-direction: column;
    }
    #formButton{
        width: 100%;
    }
}

@media(max-width: 699px){
    .formTitle{
        width: 50%;
    }
}

@media(max-width: 389px){
    .formApp {
        padding: 5% 3%;
        width: 97%;
    }

    .container_input input {
        width: 55%;
    }
}